################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ProductTrader/.vs/ProductTrader/v17
/ProductTrader/.vs/ProductTrader/FileContentIndex
/ProductTrader/ProductTrader.Logic/obj
/ProductTrader/ProductTrader.ConApp/obj
/ProductTrader/.vs
/ProductTrader/ProductTrader.Logic/bin/Debug/net8.0
